<ion-view view-title="Password">
  
  <ion-nav-bar class="bar-positive"> 
    <ion-nav-buttons side="left">
      <a class="button icon-left" nav-transition="android" href="#/tab/options">Back</a>
    </ion-nav-buttons>
  </ion-nav-bar>
  
  <ion-content padding="true">
    <form name="editPasswordForm">
      <label
        ng-class="{'has-errors' : editPasswordForm.oldPw.$invalid, 'no-errors' : editPasswordForm.oldPw.$valid}"
        class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input 
          name="oldPw"
          type="password"
          placeholder="Current password"
          ng-model="user.oldPw"
          required>
      </label>
      <label
        ng-class="{'has-errors' : editPasswordForm.newPw.$invalid, 'no-errors' : editPasswordForm.newPw.$valid}"
        class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input
          name="newPw"
          type="password"
          placeholder="New password"
          ng-model="user.newPw"
          required>
      </label>
      <label
        ng-class="{'has-errors' : editPasswordForm.newPwConfirmation.$invalid, 'no-errors' : editPasswordForm.newPwConfirmation.$valid}"
        class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input
          name="newPwConfirmation"
          type="password"
          placeholder="New password, again"
          ng-model="user.newPwConfirmation"
          required>
      </label>
      <button
        type="submit"
        class="button button-block button-positive"
        ng-class="{'button-disabled' : !editPasswordForm.$valid}"
        ng-click="changePassword(user)">
        Change password
      </button>
    </form>
  </ion-content>
</ion-view>
