<ion-view view-title="Password">
	<ion-nav-buttons side="left">
  	<a class="button icon-left" nav-transition="android" href="#/tab/options">Back</a>
   </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <label class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="password" placeholder="Current password" ng-model="user.password">
      </label>
      <label class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="password" placeholder="New password" ng-model="user.password">
      </label>
      <label class="item item-input">
        <i class="icon ion-locked placeholder-icon"></i>
        <input type="password" placeholder="New password, again" ng-model="user.password">
      </label>
    </ion-list>
  </ion-content>
</ion-view>
