<ion-view view-title="Upcoming events">

  <ion-nav-bar class="bar-positive"> 
  </ion-nav-bar>

  <ion-content class="padding">
    <ion-list>
      <ion-item class="no-padding card" ng-repeat="event in events">
        <div class="item item-avatar event-header-text-container">
          <img ng-if="event.feed_creator.image" ng-src="{{event.feed_creator.image}}">
          <img ng-if="!event.feed_creator.image" ng-src="../img/profile_missing.png">
          <span class="event-feed-creator">
            <a ng-href="#/profile/{{event.feed_creator.id}}">
              {{event.feed_creator.name}}
            </a>
          </span>
          <span class="event-time-ago">{{event.hours_ago}}</span>
        </div>

        <img ng-if="event.image" ng-src="{{event.image}}">
        <img ng-if="!event.image" class="full-image" ng-src="../img/event_missing.jpg">

        <div class="item-body">
          <p>{{event.details}}</p>
          <span class="event-details">
            <a href="">Esteban Contreras</a> is going</span><br>
          <span class="event-details">
            {{event.where}} | {{event.date}} at {{event.hour}}
          </span>
          <br>
          <span class="event-details">
            Event by <a ng-href="#/profile/{{event.feed_creator.id}}">{{event.creator.name}}</a></span>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" ng-click="toggle_assistance(event)">
            <i class="icon ion-beer"></i>
            <span ng-show="{{event.user_is_going}}">Going</span>
            <span ng-hide="{{event.user_is_going}}">Join</span>
          </a>
<!--           <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comment
          </a> -->
<!--           <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a> -->
        </div>
      </ion-item>
    </ion-list>
    
    <ion-infinite-scroll
      ng-if="moreDataCanBeLoaded"
      on-infinite="loadMore()"
      distance="5%">
    </ion-infinite-scroll>
    
  </ion-content>
</ion-view>
