<ion-view view-title="Upcoming events">

  <ion-nav-bar class="bar-positive"> 
  </ion-nav-bar>

  <ion-content class="padding">
    <ion-list>
      <ion-item class="no-padding card" ng-repeat="event in events">
        <div class="item item-avatar event-header-text-container">
          <img ng-src="{{event.feed_creator.image}}">
          <span class="event-feed-creator">
            <a ng-href="#/tab/profile/{{event.feed_creator.id}}">
              {{event.feed_creator.name}}
            </a>
          </span>
          <span class="event-time-ago">{{event.hours_ago}}</span>
        </div>

        <img ng-src="{{event.image}}">

        <div class="item-body">
          <p>{{event.details}}</p>
          <span class="event-details">

            <div ng-if="event.assistants.length == 1">
              <a href='#/tab/profile/{{event.assistants[0].id}}'>{{event.assistants[0].name}}</a> is going              
            </div>
            <div ng-if="event.assistants.length > 1 && event.assistants.length <= limit_assistants_shown">
              <span ng-repeat="assistant in event.all_but_last_two_assistants">
                <a href='#/tab/profile/{{assistant.id}}'>{{assistant.name}}</a>, 
              </span>
              <a href='#/tab/profile/{{event.last_two_assistants[0].id}}'>{{event.last_two_assistants[0].name}}</a>
              and
              <a href='#/tab/profile/{{event.last_two_assistants[1].id}}'>{{event.last_two_assistants[1].name}}</a>
              are going       
            </div>
            <div ng-if="event.assistants.length > limit_assistants_shown">
              <span ng-repeat="assistant in event.showed_assistants">
                <a href='#/tab/profile/{{assistant.id}}'>{{assistant.name}}</a>, 
              </span>
              and {{event.hidden_assistants_qty}} more are going
            </div>

            <br>
          <span class="event-details">
            {{event.where}} | {{event.date | date:'MMM dd' }} <time ng-show="event.time">at {{event.time | date:'hh:mm a'}}</time>
          </span>
          <br>
          <span class="event-details">
            Event by <a ng-href="#/tab/profile/{{event.feed_creator.id}}">{{event.creator.name}}</a></span>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
          <a class="tab-item" ng-click="toggleAssistance(event)">
            <i class="icon ion-beer"></i>
            <span>{{event.going_or_join_label}}</span>
          </a>
<!--           <a class="tab-item" href="#">
            <i class="icon ion-chatbox"></i>
            Comment
          </a> -->
<!--           <a class="tab-item" href="#">
            <i class="icon ion-share"></i>
            Share
          </a> -->
        </div>
      </ion-item>
    </ion-list>
    
    <ion-infinite-scroll
      ng-if="moreDataCanBeLoaded"
      on-infinite="loadMore()"
      distance="5%">
    </ion-infinite-scroll>
    
  </ion-content>
</ion-view>
