<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-compass" icon-on="ion-android-compass" href="#/tab/dash">
    <ion-nav-view name="tab-feed"></ion-nav-view>
  </ion-tab>

  <!-- Profile Tab -->
  <ion-tab title="Profile" icon-off="ion-ios-person-outline" icon-on="ion-person" ng-click="goToUserProfile()">
    <ion-nav-view name="tab-profile"></ion-nav-view>
  </ion-tab>
  
  <!-- Add event Tab -->
  <ion-tab title="Add Event" icon-off="ion-ios-plus-outline" icon-on="ion-ios-plus" href="#/tab/add-event">
    <ion-nav-view name="tab-add-event"></ion-nav-view>
  </ion-tab>

  <!-- Notifications Tab -->
  <ion-tab title="Notifications" icon-off="ion-android-notifications-none" icon-on="ion-android-notifications" href="#/tab/notifications">
    <ion-nav-view name="tab-notifications"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Options" icon-off="ion-ios-gear-outline" icon-on="ion-android-settings" href="#/tab/options">
    <ion-nav-view name="tab-options"></ion-nav-view>
  </ion-tab>

</ion-tabs>
